@using MobileApi.Helpers
@model IEnumerable<MobileApi.Models.HierarchyNode>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Category tree</title>
    <link href="../Content/jquery.treeview.css" rel="stylesheet" type="text/css" />
    <script src="../Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="../Scripts/jquery.treeview.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $("#treeview").treeview({
                collapsed: true,
                animated: "medium",
                control: "#sidetreecontrol",
                persist: "location"
            });
        });
    </script>
</head>
<body style="font-family : Arial; ">
    <h1>
        Category Tree
    </h1>
    <div id="sidetree">
        <div class="treeheader">&nbsp;</div>
        <div id="sidetreecontrol"><a href="?#">Collapse All</a> | <a href="?#">Expand All</a></div>
        <ul id="treeview">
            @Html.RenderTree(Model, thing => thing.Name)
        </ul>
    </div>
</body>
</html>